.cart_block {
	display: flex;
	align-items: center;
	position: relative;
}

.cart {
	position: relative;
	font-size: 25px;
	cursor: pointer;
}

.price {
	margin-left: 15px;
	font-size: 18px;
	font-weight: 500;
}

.cart_wrapper {
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
}
