.cartitem {
	width: 100%;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price {
	display: flex;
	align-items: center;
	position: relative;
	padding-right: 35px;
}

.delete {
	color: rgb(194, 12, 12);
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
}
